.index-header {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px;
  gap: 20px;
}

.book-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-utilities {
  display: flex;
  width: 100%;
}

.index-utilities {
  justify-content: space-between;
}

.book-counter {
  display: flex;
  gap: 10px;
}

.books-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list-header,
.book-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.2fr 0.6fr 0.2fr;
  text-align: center;
  align-items: center;
  line-height: 1;
  width: 100%;
}

.book-item {
  border: 2px solid black;
  border-radius: 3px;
}

.book-item img {
  width: 20px;
}
