body {
  /* Variables */
  --font1: Helvetica;
  --gap: 20px;
  /* */
  margin: 0;
  padding: 0;
  font-family: var(--font1);
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
a,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

table {
  width: 80%;
  margin: auto;
}

tr {
  background-color: red;
  border: 2px solid black;
}
