body {
  /* Variables */
  --font1: Helvetica;
  --gap: 20px;
  --box: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --box2: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* */
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  position: relative;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
a,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: none;
  transition: transform 0.1s ease-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.modal {
  position: absolute;
  background-color: white;
  z-index: 1001;
  top: 10%;
  left: 50%;
}

.veil,
.password-veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  /* Hidden by default */
  align-items: center;
  justify-content: center;
}

.veil {
  z-index: 1000;
}

.password-veil {
  z-index: 2000;
}

.active {
  display: flex;
}

.inactive {
  display: none;
}
